/* Write your CSS here */
.button {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  padding: 10px 40px 10px;
  border: none;
  background-color: #ffffff;
  color: #334155;
  border-radius: 9px;
}
